name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # 必须要有 write:packages 权限

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }} # 您的 GitHub 用户名
          password: ${{ secrets.CR_PAT }} # 步骤 2 中设置的 Secret

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: . # Dockerfile 所在目录
          push: true
          tags: ghcr.io/${{ github.repository }}:latest # 镜像名称和 tag
          # tags: ghcr.io/yehunde/telegram-bot-project:latest